* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html, body {
  height: 100%; 
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Тело страницы растянется по высоте экрана */
  background-image: url('/images/servers-test.2802bae4.webp'); /* Путь к изображению */
  background-size: cover;
  background-position: center; /* Центрируем изображение по экрану */
  background-attachment: fixed; 
  background-repeat: no-repeat;
  /* width: 100%; */
} 


main {
  flex-grow: 1; /* Main займёт всё доступное пространство */
  padding-top: 150px;
}

a {
  color: inherit;
  text-decoration: none;
}

